@use 'app/variables/variables' as *;
@use 'app/variables/nav' as *;

.select_control {
    min-width: 258px;
    padding: 0 10%;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    padding: 0 1em;
    background: $peach-tone;
    min-height: $selector-height !important;
}

.select_control_modal {
    width: min(90vw, $max-modal-nav-input-width);
    padding: 0 1.5em;
}

.select_multiValue {
    margin: 0 2px;
    padding-left: 4px;
    background: $color-overlay-line;
    border-radius: 5px;
}

.select_menu {
    background: $peach-tone;
    border-top: 1px solid black;
    z-index: 20 !important;
}

.input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 0 auto;
};

.border {
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.label {
    align-self: flex-start;
    font-size: $nav-select-font-size;
    color: white;
    text-transform: capitalize;
}