@use 'app/variables/variables' as *;

.module {
    border-image: linear-gradient(to right, $border-color-gradient-start, $border-color-gradient-end) 1;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(0, 0, 0, 0.90);
};

.module_modal {
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.modal_background {
    position:absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}